<nz-divider nzOrientation="left" nzText="Game List"></nz-divider>
<div nz-row nzJustify="start" nzAlign="middle">
  <div nz-col nzSpan="8" style="margin: 0 0 50px 100px">
    <button nz-button nzType="primary">Add new Game</button>
  </div>
</div>

<div
  *ngFor="let game of games"
  nz-row nzJustify="start" nzAlign="middle" style="margin-left: 10px">

  <div

    nz-col nzSpan="32" style="border:1px solid black; padding: 0 10px 0 10px">
    <a href="#">
    <nz-list nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
           <h2>Title: {{game.title}} </h2>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            <p>Owner: {{game.owner}}</p>
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        {{game.description}}
        <nz-list-item-extra>
          <img width="250" alt="cover" [src]="game.coverPath"/>
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
    </a>
  </div>

</div>

