<div nz-row nzJustify="start" nzAlign="middle">
  <div nz-col nzSpan="12">
    <h1>{{gameToDisplay[0].title}}</h1>
  </div>
</div>
<div *ngIf="gameToDisplay[0].coverPath.length > 0" nz-row nzJustify="start" nzAlign="middle">
  <img width="500" alt="cover" [src]="gameToDisplay[0].coverPath"/>
</div>
<div nz-row nzJustify="start" nzAlign="middle">
  <ng-container>
  <button nz-button nz-dropdown [nzDropdownMenu]="menu">Manage Game</button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>To My Gaame</li>
      <li nz-menu-item>Edit</li>
      <li nz-menu-item>Delete</li>
    </ul>
  </nz-dropdown-menu>
  </ng-container>
</div>
<div nz-row nzJustify="start" nzAlign="middle">
  <div nz-col nzSpan="8">
    {{gameToDisplay[0].description}}
  </div>
</div>
<div nz-row nzJustify="start" nzAlign="middle">
  <div nz-col nzSpan="8">
    Owner: {{gameToDisplay[0].owner}}
  </div>
</div>
