<nz-divider nzOrientation="left" nzText="Game List"></nz-divider>
<div nz-row nzJustify="start" nzAlign="middle">
  <div nz-col nzSpan="20" style="margin: 0 0 50px 100px">
    <button nz-button nzType="primary">Add new Game</button>
  </div>
</div>

<div
  *ngFor="let game of games"
  nz-row nzJustify="start" nzAlign="middle" style="margin-left: 10px">
  <div
    nz-col nzSpan="22" style="border:1px solid black; padding: 0 10px 0 10px; margin-top: 10px">
    <club-games-item [game]="game" (click)="setGameToDisplay(game)"></club-games-item>
  </div>

</div>

